(function() {
  var template = Handlebars.template, templates = Handlebars.templates = Handlebars.templates || {};
templates['head'] = template({"compiler":[7,">= 4.0.0"],"main":function(container,depth0,helpers,partials,data) {
    return "<meta charset=\"utf-8\">\n\n<title>this is the bus.</title>\n\n<meta name=\"description\" content=\"this is the bus\">\n<meta name=\"author\" content=\"Chelsea Kaye and Justin Myles\">\n\n<link rel=\"stylesheet\" href=\"/apps/internal/css/styles.css?v=1.0\">\n<link href=\"/apps/internal/css/fonts.css\" rel=\"stylesheet\">\n\n<script src=\"/apps/internal/js/day-parse-meta.js\"></script>\n<!--[if lt IE 9]>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js\"></script>\n<![endif]-->\n\n<script src=\"/apps/iotd/templates/iotdInstance.handlebars\"></script>\n<script src=\"/apps/places/templates/locationInstance.handlebars\"></script>\n\n";
},"useData":true});
})();